
@import 'aos/dist/aos.css';

app-contact-form, 
app-location,
app-photos-carousel {
    display: block;
  padding-top: 64px; 
}


.home app-contact-form,
.home app-location,
.home app-photos-carousel {
    padding-top: 0;
}